<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="ElliApiConfig" type="Elli.Api.Base.ApiConfiguration, Elli.Api.Base"/>
  </configSections>

  <!--<ElliApiConfig apiHost="https://api.elliemae.com" apiClientId="auftnup" clientSecret="2XxHcknzAcpgfOHig&amp;$Uu4!ieUB63qwQmRx2y^#mQ8GM0aRU7m1tGfTVftnOODNA" idpHost="idp.elliemae.com" redirectUrl="" instanceId="TEbe11166795" userName="0ss0" password="Bowling900!" />-->

  <ElliApiConfig apiHost="" apiClientId="" clientSecret="" idpHost="" redirectUrl="" instanceId="" userName="" password=""/>

	<!--<configuration>
		<runtime>
			<NetFx40_LegacySecurityPolicy enabled="true" />
		</runtime>
	</configuration>-->
	
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
