################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ICE.Commander/bin/Debug
/.vs/ICE.Commander/DesignTimeBuild/.dtbcache.v2
/.vs/ICE.Commander/v16/.suo
/packages/EPPlus.5.5.5/lib
/ICE.Commander/obj/Debug
/packages
